<section class="about py-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <article class="col-lg my-5 about__article">
        <h2 class="text-center mb-4 about__title">
          <span class="text-primary">Odkrywaj Europę</span> korzystając z naszych tanich biletów autobusowych
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </article>
      <article class="col-lg ml-lg-auto my-5 about__article">
        <h2 class="text-center mb-4 about__title">
          <span class="text-primary">Wyjazdy weekendowe</span> i wakacyjne w PolskiBusik.eu
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </article>
    </div>
  </div>
</section>
