<section class="container-fluid p-0">
  <ul class="features p-0 m-0">
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-1.svg" alt="Potwierdzenie rezerwacji w 5 minut" class="feature__icon">
      <span class="h4">Potwierdzenie rezerwacji w 5 minut</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-2.svg" alt="Jeździmy 7 dni w tygodniu" class="feature__icon">
      <span class="h4">Jeździmy 7 dni w tygodniu</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-3.svg" alt="Bezpieczne płatności online" class="feature__icon">
      <span class="h4">Bezpieczne płatności online</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-4.svg" alt="Co 6 przejazd gratis!" class="feature__icon">
      <span class="h4">Co 6 przejazd gratis!</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-5.svg" alt="Darmowe WiFi" class="feature__icon">
      <span class="h4">Darmowe WiFi</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-6.svg" alt="Nowa i sprawdzona flota" class="feature__icon">
      <span class="h4">Nowa i sprawdzona flota</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-7.svg" alt="Darmowa woda" class="feature__icon">
      <span class="h4">Darmowa woda</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-8.svg" alt="Przypomnienia SMS" class="feature__icon">
      <span class="h4">Przypomnienia SMS</span>
    </li>
    <li class="feature d-flex flex-fill align-items-center">
      <img src="assets/img/feature-9.svg" alt="Gwarancja zadowolenia" class="feature__icon">
      <span class="h4">Gwarancja zadowolenia</span>
    </li>
  </ul>
</section>
