<header>
  <nav class="navbar navbar-expand-lg navbar-expand-lg navbar-dark bg-primary py-4" role="navigation">
    <a class="navbar-brand" href="/">
      <img src="assets/img/Wow!Bus - logo_dark.svg" alt="Wow!Bus" style="width: 10rem">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end font-weight-bold" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Koszyk</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-separated">
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a class="nav-link active" href="#" rel="alternate">PL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white-50" href="#" rel="alternate">EN</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
